:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}

/* aite-nav */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* auth-nav */

.auth-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* Герой */

.hero-title {
  color: #ffffff;
}

/* section */

.section-title {
  color: var(--title-text-color);
}

/* feature */

.feature-list .title {
  color: var(--title-text-color);
}

.feature-title {
  color: var(--primary-text-color);
}

/* Button */

.button {
  color: #ffffff;
  background-color: var(--accent-color);
}
